<div class="donate-modal" [hidden]="!visibility" (click)="onClickNavMenu()">
  <div
    class="modal"
    tabindex="-1"
    [style]="visibility ? 'display:block' : 'display:none'"
  >
    <div class="container-fluid">
      <button class="modal-header" (click)="onClickNavMenu()">
        <i class="fa fa-close"></i>
      </button>
    </div>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <img
            src="./assets/img/gcash.jpeg"
            class="img-responsive center-block floating-image"
            alt=""
          />
          <a
            href="https://help.gcash.com/hc/en-us/articles/900005327223-Send-money-via-QR#:~:text=Here%E2%80%99s%20how%20to%20send%20money%20via%20QR%20code%3A,if%20the%20details%20are%20correct%20then%20tap%20Send"
            target="_blank"
            >How to donate through QR Code</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
