<!-- Spinner -->
<dasig-spinner [visibility]="showSpinner"></dasig-spinner>

<!-- Dasig Nav Modal (For Mobile) -->
<dasig-nav-modal
  *ngIf="currentLanguage && isMobileView"
  [visibility]="showNavMenu"
  [currentSection]="currentSection"
  [showNavMenu]="showNavMenu"
  [currentLanguage]="currentLanguage"
  (showNavMenuEvent)="onEventClickMenu($event)"
></dasig-nav-modal>

<!-- Main Container for the Website -->
<div class="main-container" *ngIf="currentLanguage" [hidden]="showSpinner">
  <!-- Navigation Bar -->
  <nav
    [ngClass]="
      !isNavbarScrolled
        ? 'navbar navbar-expand navbar-light'
        : 'navbar navbar-expand navbar-light scrolled'
    "
  >
    <div class="container-fluid">
      <button
        class="navbar-brand"
        routerLink="/welcome"
        [style.marginRight.px]="5"
      >
        {{ currentLanguage.navbar.brand }}
      </button>
      <div class="d-flex">
        <i
          class="fa fa-bars"
          *ngIf="isMobileView"
          (click)="onClickNavMenu()"
        ></i>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0" *ngIf="!isMobileView">
          <li class="nav-item">
            <a
              class="nav-link"
              aria-current="page"
              [style]="currentSection === 'home' ? 'color:#449ecf;' : null"
              (click)="
                scrollToSection({
                  sectionId: 'home',
                  scrollBlockType: 'start'
                })
              "
              >{{ currentLanguage.navbar.home }}</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              aria-current="page"
              [style]="currentSection === 'about' ? 'color:#449ecf;' : null"
              (click)="scrollToSection({ sectionId: 'about' })"
            >
              {{ currentLanguage.navbar.about }}
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              aria-current="page"
              [style]="currentSection === 'links' ? 'color:#449ecf;' : null"
              (click)="scrollToSection({ sectionId: 'links' })"
            >
              {{ currentLanguage.navbar.link }}
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              aria-current="page"
              [style]="currentSection === 'team' ? 'color:#449ecf;' : null"
              (click)="scrollToSection({ sectionId: 'team' })"
            >
              {{ currentLanguage.navbar.team }}</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              aria-current="page"
              [style]="currentSection === 'faqs' ? 'color:#449ecf;' : null"
              (click)="scrollToSection({ sectionId: 'faqs' })"
            >
              {{ currentLanguage.navbar.faqs }}
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              aria-current="page"
              [style]="currentSection === 'contactUs' ? 'color:#449ecf;' : null"
              (click)="scrollToSection({ sectionId: 'contactUs' })"
            >
              {{ currentLanguage.navbar.contact }}
            </a>
          </li>
          <li class="nav-item">
            <button
              type="button"
              class="btn active learn-more"
              data-bs-toggle="button"
              aria-pressed="true"
              title="Visit Facebook page"
              src="https://web.facebook.com/dasigdonationdrive"
              onclick="window.open(this.getAttribute('src'), '_blank')"
            >
              {{ currentLanguage.navbar.learnMore }}
            </button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Content Routing -->
  <router-outlet></router-outlet>
</div>
