<div class="main-content">
  <div class="card home-container">
    <div class="card-body">
      <div class="container-fluid flex-container header">
        <div class="home-header text-left">
          <h1>
            {{ currentLanguage.home.headerTitle }}
          </h1>
          <h2>
            {{ currentLanguage.home.headerBody }}
          </h2>
          <button
            type="button"
            class="btn donate-now"
            data-bs-toggle="button"
            aria-pressed="true"
          >
            {{ currentLanguage.home.donateNow }}
          </button>
        </div>

        <div class="text-center">
          <img
            src="./assets/img/dasig.png"
            class="img-responsive center-block floating-image"
            style="max-height: 600px"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="subheader">
    <div class="text-center subheader-text">
      <h3>
        "Together, let's harness the power of compassion and solidarity to
        create a brighter, more resilient future for all."
      </h3>
      <div class="horizontal-line"><div class="square"></div></div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="card">
      <div class="card-body">
        <div class="container-fluid flex-container header">
          <div class="text-center">
            <div class="text-center subheader-text">
              <h4>ABOUT</h4>
              <div class="horizontal-line"><div class="square"></div></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
