.card {
  border: 0;
}

.home-container {
  height: 774px;
  border: 0;
  background-color: #37517e;
  border-radius: 0;
}

.main-content {
  width: 100%;
  height: 100%;
}

.flex-container {
  width: 900pt;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header {
  height: 50%;
  margin-top: 194px;
}

.home-header {
  width: 50%;
  color: white;
}

@keyframes floating {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.floating-image {
  animation: floating 3s ease-in-out infinite;
}

.container-fluid {
  width: 900pt;
  align-items: center;
}

.donate-now {
  margin-top: 20pt;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-color: #46b0e1;
  background-color: #46b0e1;
  border-radius: 50px;
  border-width: 2px;
  color: white;
  font-family: "Jost", sans-serif;
  font-weight: bold;
}

.donate-now:hover {
  margin-top: 20pt;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-color: #209dd8;
  background-color: #209dd8;
  border-radius: 50px;
  border-width: 2px;
  color: white;
  font-family: "Jost", sans-serif;
  font-weight: bold;
}

.subheader {
  background-color: #f3f5fa;
  height: 135px;
  justify-content: left;
  align-items: center;
}

.subheader-content {
  background-color: #f3f5fa;
  height: 135px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fb-logo {
  width: 35px;
  height: 35px;
  padding-top: 10px;
  border-radius: 50%;
  border: 1px solid black;
}

.section-head {
  height: 135px;
  justify-content: center;
  align-items: center;
  margin-top: 30vh;
}

.horizontal-line {
  border-top: 2px solid #dddddd;
  margin: 0 auto;
  width: 100pt; /* Adjust the width as needed */
  margin-top: 25px;
}

.square {
  width: 50px;
  height: 5px;
  background-color: #46b0e1;
  margin: -3px auto;
}

.footer {
  background-color: #37517e;
  height: 135px;
}
