<div class="main-content">
  <div class="card">
    <div class="card-body">
      <div class="container-fluid flex-container header">
        <div class="home-header text-left">
          <h1>To Inspire, Encourage, Hold On.</h1>
          <h2>
            Dasig is a non-profit and non-government organization founded on the
            compassion of friendship and the will to serve the people by
            offering relief or humanitarian assistance and spreading mental
            health awareness.
          </h2>
          <button
            type="button"
            class="btn donate-now"
            data-bs-toggle="button"
            aria-pressed="true"
          >
            Donate Now
          </button>
        </div>

        <div class="text-center">
          <img
            src="./assets/img/dasig.png"
            class="img-responsive center-block floating-image"
            style="max-height: 600px"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="footer"></div>
</div>
