<!-- The Whole Landing Page -->
<div class="main-content" *ngIf="currentLanguage">
  <!-- Header -->
  <div class="card home-container" id="home">
    <div class="card-body">
      <div class="container-fluid flex-container header">
        <div class="home-header text-left">
          <h1>
            {{ currentLanguage.home.headerTitle }}
          </h1>
          <h2>
            {{ currentLanguage.home.headerBody }}
          </h2>
          <button
            type="button"
            class="btn donate-now"
            data-bs-toggle="button"
            aria-pressed="true"
          >
            {{ currentLanguage.home.donateNow }}
          </button>
        </div>

        <div class="text-center">
          <img
            src="./assets/img/dasig.png"
            class="img-responsive center-block floating-image"
            style="max-height: 600px"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>

  <!-- Subheader -->
  <div class="subheader">
    <div class="container-fluid subheader-content">
      <img
        src="./assets/img/stsb.jpg"
        class="img-responsive center-block"
        style="max-height: 80px"
        alt=""
      />
      <h3>Established by Alumni of Saint Teresa's School of Bato</h3>
    </div>
  </div>

  <!-- About Us Section -->
  <div class="container-fluid">
    <div class="card">
      <div class="card-body">
        <div class="section-head text-center">
          <h4>ABOUT</h4>
          <div class="horizontal-line"><div class="square"></div></div>
        </div>
        <div class="text-left about-body" id="about">
          <p>
            Dasig is a Visayan word that means "to inspire, encourage, hold on."
            It is something that everyone of us needs right now. In these trying
            times, everyone is in constant battle, but with this simple
            advocacy, we want our organization to be of help in the simplest
            possible way.
          </p>
          <p>
            With a fervent commitment to this simple yet powerful advocacy, our
            organization seeks to extend a helping hand in the most fundamental
            manner possible. We aspire to be agents of change, catalysts for
            positivity, and providers of solace to those who find themselves
            struggling amidst the chaos.
          </p>
          <p>
            In our endeavor to make a tangible difference, we call upon the
            generosity and compassion of our community. By joining hands and
            pooling our resources, we can reach out to those who remain unseen
            and unheard, offering them the support and assistance they so
            desperately need.
          </p>
          <p>
            We humbly appeal to your benevolence to aid us in our mission. Your
            contributions, no matter how modest, will serve as a lifeline for
            those who are yet to be reached. Every donation, every act of
            kindness, is a testament to the indomitable spirit of humanity.
            Together, let us sow the seeds of Dasig, nurturing hope and
            resilience in the hearts of those who need it most.
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- Links Section -->
  <div class="container-fluid">
    <div class="card link-section">
      <div class="card-body">
        <div class="section-head text-center">
          <h4>LINKS</h4>
          <div class="horizontal-line"><div class="square"></div></div>
        </div>
        <div class="flex-container">
          <div class="link-container">
            <div class="text-center">
              <div class="circle-headers">
                <img
                  src="./assets/img/link-1.png"
                  class="img-responsive center-block"
                  style="max-height: 100px; max-width: 100px"
                  alt=""
                />
              </div>
              <h5>Here For You</h5>
              <p>
                If you are in need of food, hygiene kits, cash assistance, or
                clothes it is our mission to support and assist. We will give
                our best to cater your needs. We have a lot of good quality
                clothes that has been donated by our generous donors.
              </p>
              <button
                type="button"
                class="btn button-style"
                data-bs-toggle="button"
                aria-pressed="true"
              >
                Message Us
              </button>
            </div>
          </div>
          <div class="link-container">
            <div class="text-center">
              <div class="circle-headers">
                <img
                  src="./assets/img/link-2.png"
                  class="img-responsive center-block"
                  style="max-height: 100px; max-width: 100px"
                  alt=""
                />
              </div>
              <h5 id="links">Volunteer With Us</h5>
              <p>
                Every December or whenever there is a big project, we need
                volunteers that will help us distribute the goods, organize,
                collect and deliver the donations. If you are interested to join
                our team, please drop a message on our Facebook page.
              </p>
              <button
                type="button"
                class="btn button-style"
                data-bs-toggle="button"
                aria-pressed="true"
              >
                Join Us
              </button>
            </div>
          </div>
          <div class="link-container">
            <div class="text-center">
              <div class="circle-headers">
                <img
                  src="./assets/img/link-3.png"
                  class="img-responsive center-block"
                  style="max-height: 100px; max-width: 100px"
                  alt=""
                />
              </div>
              <h5>Fund Our Project</h5>
              <p>
                A monetary gift from you can save lives and help the most
                vulnerable. Donations enable us to provide immediate assistance
                to those people who are in need, securing financial aid with
                every donation goes a long way.
              </p>
              <button
                type="button"
                class="btn button-style"
                data-bs-toggle="button"
                aria-pressed="true"
              >
                {{ currentLanguage.home.donateNow }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Team Section -->
  <div class="team-section-background">
    <div class="container-fluid">
      <div class="card team-section">
        <div class="card-body">
          <div class="section-head text-center">
            <h4>MEET THE TEAM</h4>
            <div class="horizontal-line" style="margin-bottom: 25px">
              <div class="square"></div>
            </div>
            <p>The team that made Dasig possible.</p>
          </div>
          <div class="flex-container team-content-margin" id="team">
            <div class="team-container">
              <div class="team-content team-flex-container">
                <img
                  src="./assets/img/team-1.jpg"
                  class="img-responsive center-block"
                  style="
                    max-height: 180px;
                    max-width: 180px;
                    border-radius: 100px;
                  "
                  alt=""
                />
                <div class="team-description">
                  <h6>Rica Ines Mercado</h6>
                  <p>Co-founder and Overall Project Manager</p>
                </div>
              </div>
            </div>
            <div class="team-container">
              <div class="team-content team-flex-container">
                <img
                  src="./assets/img/team-2.jpg"
                  class="img-responsive center-block"
                  style="
                    max-height: 180px;
                    max-width: 180px;
                    border-radius: 100px;
                  "
                  alt=""
                />
                <div class="team-description">
                  <h6>Trisha Suzanne Aguilar</h6>
                  <p>Co-founder and Finance Manager</p>
                </div>
              </div>
            </div>
          </div>
          <div class="flex-container team-content-margin">
            <div class="team-container">
              <div class="team-content team-flex-container">
                <img
                  src="./assets/img/team-3.jpg"
                  class="img-responsive center-block"
                  style="
                    max-height: 180px;
                    max-width: 180px;
                    border-radius: 100px;
                  "
                  alt=""
                />
                <div class="team-description">
                  <h6>John Christopher Sulla III</h6>
                  <p>Co-Manager of Fundraising and Publicity</p>
                </div>
              </div>
            </div>
            <div class="team-container">
              <div class="team-content team-flex-container">
                <img
                  src="./assets/img/team-4.jpg"
                  class="img-responsive center-block"
                  style="
                    max-height: 180px;
                    max-width: 180px;
                    border-radius: 100px;
                  "
                  alt=""
                />
                <div class="team-description">
                  <h6>Kareen Ann Estorba</h6>
                  <p>Co-Manager of Fundraising and Publicity</p>
                </div>
              </div>
            </div>
          </div>
          <div class="flex-container team-content-margin">
            <div class="team-container">
              <div class="team-content team-flex-container">
                <img
                  src="./assets/img/team-5.jpg"
                  class="img-responsive center-block"
                  style="
                    max-height: 180px;
                    max-width: 180px;
                    border-radius: 100px;
                  "
                  alt=""
                />
                <div class="team-description">
                  <h6>Hannah Aniciete</h6>
                  <p>Co-Manager of Fundraising and Publicity</p>
                </div>
              </div>
            </div>
            <div class="team-container">
              <div class="team-content team-flex-container">
                <img
                  src="./assets/img/team-6.jpg"
                  class="img-responsive center-block"
                  style="
                    max-height: 180px;
                    max-width: 180px;
                    border-radius: 100px;
                  "
                  alt=""
                />
                <div class="team-description">
                  <h6>Sean Maverick Saligue</h6>
                  <p>Co-founder and Finance Manager</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- FAQs Section -->
    <div class="faqs-section-background" id="faqs">
      <div class="container-fluid">
        <div class="card">
          <div class="card-body">
            <div class="section-head text-center">
              <h4>FREQUENTLY ASKED QUESTIONS</h4>
              <div class="horizontal-line" style="margin-bottom: 25px">
                <div class="square"></div>
              </div>
              <p>Things you might want to know beforehand.</p>
            </div>
            <div
              *ngFor="let item of collapsingItems; let i = index"
              class="question-container"
              [id]="'question_' + i"
              [style.height]="item.isCollapsed ? '45px' : getCollapseHeight(i)"
            >
              <div class="question-flex" (click)="toggleCollapse(i)">
                <i class="fa fa-question"></i>
                <h3>{{ item.question }}</h3>
                <div class="chevron">
                  <i
                    [class]="
                      item.isCollapsed
                        ? 'fa fa-chevron-down'
                        : 'fa fa-chevron-up'
                    "
                  ></i>
                </div>
              </div>
              <p class="answer" style="white-space: pre-wrap">
                {{ item.answer }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <div class="card home-container">
      <div class="card-body">
        <div class="container-fluid footer">
          <p>© Copyright Dasig. All Rights Reserved</p>
          <p>
            Our promise to protect the privacy and confidentiality of your
            personal data. All personal data collected will be treated in
            accordance to the requirements in Data Privacy Act of 2012. We
            promise not to sell, share or swap your personal information with
            any other company/organization. The information you provided will be
            treated with utmost confidentiality, for the purpose of donation
            administration, receipt issuing and communications about your
            donation. Please refer to our Privacy Policy for more details.
          </p>

          <a src="">Privacy Policy</a>
        </div>
      </div>
    </div>
  </div>
</div>
